majesco-whatifinterface-stubs/src/main/resources/META-INF/wsdl/WhatIfInterface.wsdl

<?xml version="1.0"?>
<wsdl:definitions
  xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://com/majescomastek/stgicd/ws/meta/whatifinterface"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  name="WhatIfInterface"
  targetNamespace="http://com/majescomastek/stgicd/ws/meta/whatifinterface"
>
    <wsdl:types>
        <xs:schema
          xmlns:ns1="http://com/majescomastek/stgicd/ws/meta/whatifinterface"
          xmlns:ns2="http://com/majescomastek/stgicd/ws/meta/whatifinterface/requestheader"
          xmlns:ns3="http://com/majescomastek/stgicd/ws/meta/whatifinterface/transaction"
          xmlns:ns4="http://com/majescomastek/stgicd/ws/meta/whatifinterface/requestresponse"
          xmlns:ns5="http://com/majescomastek/stgicd/ws/meta/whatifinterface/transactionresponse"
          xmlns:xs="http://www.w3.org/2001/XMLSchema"
          attributeFormDefault="unqualified"
          elementFormDefault="unqualified"
          targetNamespace="http://com/majescomastek/stgicd/ws/meta/whatifinterface/whatifinterface"
          xmlns="http://com/majescomastek/stgicd/ws/meta/whatifinterface/whatifinterface">
            <xs:import
              namespace="http://com/majescomastek/stgicd/ws/meta/whatifinterface"/>
            <xs:import
              namespace="http://com/majescomastek/stgicd/ws/meta/whatifinterface/requestheader"/>
            <xs:import
              namespace="http://com/majescomastek/stgicd/ws/meta/whatifinterface/transaction"/>
            <xs:import
              namespace="http://com/majescomastek/stgicd/ws/meta/whatifinterface/requestresponse"/>
            <xs:import
              namespace="http://com/majescomastek/stgicd/ws/meta/whatifinterface/transactionresponse"/>
            <xs:import
              namespace="http://com/majescomastek/stgicd/ws/meta/whatifinterface/transactionresponse/inboundwhatiftransactiondetail"/>
            <xs:import
              namespace="http://com/majescomastek/stgicd/ws/meta/whatifinterface/transactionresponse/inboundwhatiftransactiondetail/installmentschedulesummarybyduedate"/>
            <xs:import
              namespace="http://com/majescomastek/stgicd/ws/meta/whatifinterface/transaction/inboundwhatiftransactiondetail"/>
            <xs:complexType name="whatIfTransactionSchedule">
                <xs:complexContent>
                    <xs:extension base="ns1:baseWSVo">
                        <xs:sequence>
                            <xs:element
                              name="RequestHeader"
                              type="ns2:requestHeader"/>
                            <xs:element
                              name="Transaction"
                              type="ns3:transaction"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="responseTransactionSchedule">
                <xs:complexContent>
                    <xs:extension base="ns1:baseWSVo">
                        <xs:sequence>
                            <xs:element
                              minOccurs="0"
                              name="RequestResponse"
                              type="ns4:requestResponse"/>
                            <xs:element
                              minOccurs="0"
                              name="TransactionResponse"
                              type="ns5:transactionResponse"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema
          xmlns:ns1="http://com/majescomastek/stgicd/ws/meta/whatifinterface"
          xmlns:xs="http://www.w3.org/2001/XMLSchema"
          attributeFormDefault="unqualified"
          elementFormDefault="unqualified"
          targetNamespace="http://com/majescomastek/stgicd/ws/meta/whatifinterface/transactionresponse/inboundwhatiftransactiondetail/installmentschedulesummarybyduedate"
          xmlns="http://com/majescomastek/stgicd/ws/meta/whatifinterface/transactionresponse/inboundwhatiftransactiondetail/installmentschedulesummarybyduedate">
            <xs:import
              namespace="http://com/majescomastek/stgicd/ws/meta/whatifinterface"/>
            <xs:complexType
              name="installmentScheduleSummaryByTransactionReceivable">
                <xs:complexContent>
                    <xs:extension base="ns1:baseWSVo">
                        <xs:sequence>
                            <xs:element
                              minOccurs="0"
                              name="Balance"
                              type="xs:decimal"/>
                            <xs:element
                              minOccurs="0"
                              name="CommissionAmount"
                              type="xs:decimal"/>
                            <xs:element
                              minOccurs="0"
                              name="CommissionPercent"
                              type="xs:decimal"/>
                            <xs:element
                              minOccurs="0"
                              name="InstallmentNo"
                              type="xs:decimal"/>
                            <xs:element
                              minOccurs="0"
                              name="PolicyEffectiveDate"
                              type="xs:date"/>
                            <xs:element
                              minOccurs="0"
                              name="PolicyNo"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="ReceivableAmount"
                              type="xs:decimal"/>
                            <xs:element
                              minOccurs="0"
                              name="ReceivableCategory"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="ReceivableCode"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="TransactionReceivableAmount"
                              type="xs:decimal"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema
          xmlns:ns1="http://com/majescomastek/stgicd/ws/meta/whatifinterface"
          xmlns:ns2="http://com/majescomastek/stgicd/ws/meta/whatifinterface/transactionresponse/inboundwhatiftransactiondetail/installmentschedulesummarybyduedate"
          xmlns:xs="http://www.w3.org/2001/XMLSchema"
          attributeFormDefault="unqualified"
          elementFormDefault="unqualified"
          targetNamespace="http://com/majescomastek/stgicd/ws/meta/whatifinterface/transactionresponse/inboundwhatiftransactiondetail"
          xmlns="http://com/majescomastek/stgicd/ws/meta/whatifinterface/transactionresponse/inboundwhatiftransactiondetail">
            <xs:import
              namespace="http://com/majescomastek/stgicd/ws/meta/whatifinterface"/>
            <xs:import
              namespace="http://com/majescomastek/stgicd/ws/meta/whatifinterface/transactionresponse/inboundwhatiftransactiondetail/installmentschedulesummarybyduedate"/>
            <xs:complexType name="installmentScheduleSummaryByDueDate">
                <xs:complexContent>
                    <xs:extension base="ns1:baseWSVo">
                        <xs:sequence>
                            <xs:element
                              minOccurs="0"
                              name="BillDatePrepared"
                              type="xs:date"/>
                            <xs:element
                              minOccurs="0"
                              name="BillDueDate"
                              type="xs:date"/>
                            <xs:element
                              minOccurs="0"
                              name="BillSendDate"
                              type="xs:date"/>
                            <xs:element
                              minOccurs="0"
                              name="InstallmentSequenceNo"
                              type="xs:decimal"/>
                            <xs:element
                              maxOccurs="unbounded"
                              minOccurs="0"
                              name="TransactionReceivableSummary"
                              type="ns2:installmentScheduleSummaryByTransactionReceivable"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="message">
                <xs:complexContent>
                    <xs:extension base="ns1:baseWSVo">
                        <xs:sequence>
                            <xs:element
                              minOccurs="0"
                              name="Code"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="Description"
                              type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema
          xmlns:ns1="http://com/majescomastek/stgicd/ws/meta/whatifinterface"
          xmlns:ns2="http://com/majescomastek/stgicd/ws/meta/whatifinterface/transactionresponse/inboundwhatiftransactiondetail"
          xmlns:tns="http://com/majescomastek/stgicd/ws/meta/whatifinterface/transactionresponse"
          xmlns:xs="http://www.w3.org/2001/XMLSchema"
          attributeFormDefault="unqualified"
          elementFormDefault="unqualified"
          targetNamespace="http://com/majescomastek/stgicd/ws/meta/whatifinterface/transactionresponse">
            <xs:import
              namespace="http://com/majescomastek/stgicd/ws/meta/whatifinterface"/>
            <xs:import
              namespace="http://com/majescomastek/stgicd/ws/meta/whatifinterface/transactionresponse/inboundwhatiftransactiondetail"/>
            <xs:import
              namespace="http://com/majescomastek/stgicd/ws/meta/whatifinterface/transactionresponse/inboundwhatiftransactiondetail/installmentschedulesummarybyduedate"/>
            <xs:complexType name="transactionResponse">
                <xs:complexContent>
                    <xs:extension base="ns1:baseWSVo">
                        <xs:sequence>
                            <xs:element
                              minOccurs="0"
                              name="AccountNo"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="PolicyEffectiveDate"
                              type="xs:date"/>
                            <xs:element
                              minOccurs="0"
                              name="PolicyExpirationDate"
                              type="xs:date"/>
                            <xs:element
                              minOccurs="0"
                              name="PolicyNo"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="PreviousSourceTransactionRequestNo"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="ScheduleAsOfDate"
                              type="xs:date"/>
                            <xs:element
                              maxOccurs="unbounded"
                              minOccurs="0"
                              name="TransactionDetail"
                              type="tns:inboundWhatIfTransactionDetail"/>
                            <xs:element
                              minOccurs="0"
                              name="WhatIfTransaction"
                              type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="inboundWhatIfTransactionDetail">
                <xs:complexContent>
                    <xs:extension base="ns1:baseWSVo">
                        <xs:sequence>
                            <xs:element
                              maxOccurs="unbounded"
                              minOccurs="0"
                              name="InstallmentScheduleSummarybyDueDate"
                              type="ns2:installmentScheduleSummaryByDueDate"/>
                            <xs:element
                              maxOccurs="unbounded"
                              minOccurs="0"
                              name="Messages"
                              type="ns2:message"/>
                            <xs:element
                              minOccurs="0"
                              name="PaymentPlan"
                              type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema
          xmlns:ns1="http://com/majescomastek/stgicd/ws/meta/whatifinterface"
          xmlns:xs="http://www.w3.org/2001/XMLSchema"
          attributeFormDefault="unqualified"
          elementFormDefault="unqualified"
          targetNamespace="http://com/majescomastek/stgicd/ws/meta/whatifinterface/transaction/inboundwhatiftransactiondetail"
          xmlns="http://com/majescomastek/stgicd/ws/meta/whatifinterface/transaction/inboundwhatiftransactiondetail">
            <xs:import
              namespace="http://com/majescomastek/stgicd/ws/meta/whatifinterface"/>
            <xs:complexType name="inboundTransactionDetail">
                <xs:complexContent>
                    <xs:extension base="ns1:baseWSVo">
                        <xs:sequence>
                            <xs:element
                              minOccurs="0"
                              name="CommissionPercent"
                              type="xs:decimal"/>
                            <xs:element
                              minOccurs="0"
                              name="ReceivableCode"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="TransactionCurrencyCommissionAmount"
                              type="xs:decimal"/>
                            <xs:element
                              minOccurs="0"
                              name="TransactionCurrencyReceivableAmount"
                              type="xs:decimal"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema
          xmlns:ns1="http://com/majescomastek/stgicd/ws/meta/whatifinterface"
          xmlns:ns2="http://com/majescomastek/stgicd/ws/meta/whatifinterface/transaction/inboundwhatiftransactiondetail"
          xmlns:tns="http://com/majescomastek/stgicd/ws/meta/whatifinterface/transaction"
          xmlns:xs="http://www.w3.org/2001/XMLSchema"
          attributeFormDefault="unqualified"
          elementFormDefault="unqualified"
          targetNamespace="http://com/majescomastek/stgicd/ws/meta/whatifinterface/transaction">
            <xs:import
              namespace="http://com/majescomastek/stgicd/ws/meta/whatifinterface"/>
            <xs:import
              namespace="http://com/majescomastek/stgicd/ws/meta/whatifinterface/transaction/inboundwhatiftransactiondetail"/>
            <xs:complexType name="transaction">
                <xs:complexContent>
                    <xs:extension base="ns1:baseWSVo">
                        <xs:sequence>
                            <xs:element
                              minOccurs="0"
                              name="AccountNo"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="AccountRequestedDueDay"
                              type="xs:decimal"/>
                            <xs:element
                              minOccurs="0"
                              name="AmountBillOption"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="AmountSpreadOption"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="BillType"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="BrokerNo"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="InvoicingCurrency"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="LineOfBusiness"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="OperatingCompany"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="PolicyEffectiveDate"
                              type="xs:date"/>
                            <xs:element
                              minOccurs="0"
                              name="PolicyExpirationDate"
                              type="xs:date"/>
                            <xs:element
                              minOccurs="0"
                              name="PolicyNo"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="PolicyRequestedDueDay"
                              type="xs:decimal"/>
                            <xs:element
                              minOccurs="0"
                              name="PreviousSourceTransactionRequestNo"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="ProductCode"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="ScheduleAsOfDate"
                              type="xs:date"/>
                            <xs:element
                              minOccurs="0"
                              name="State"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="SublineOfBusiness"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="TransactionCurrency"
                              type="xs:string"/>
                            <xs:element
                              maxOccurs="unbounded"
                              minOccurs="0"
                              name="TransactionDetail"
                              type="tns:inboundWhatIfTransactionDetail"/>
                            <xs:element
                              minOccurs="0"
                              name="TransactionEffectiveDate"
                              type="xs:date"/>
                            <xs:element
                              minOccurs="0"
                              name="UnderwritingCompany"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="WhatIfTransaction"
                              type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="inboundWhatIfTransactionDetail">
                <xs:complexContent>
                    <xs:extension base="ns1:baseWSVo">
                        <xs:sequence>
                            <xs:element
                              minOccurs="0"
                              name="PaymentPlan"
                              type="xs:string"/>
                            <xs:element
                              maxOccurs="unbounded"
                              minOccurs="0"
                              name="ReceivableDetails"
                              type="ns2:inboundTransactionDetail"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema
          xmlns:ns1="http://com/majescomastek/stgicd/ws/meta/whatifinterface"
          xmlns:tns="http://com/majescomastek/stgicd/ws/meta/whatifinterface/requestresponse"
          xmlns:xs="http://www.w3.org/2001/XMLSchema"
          attributeFormDefault="unqualified"
          elementFormDefault="unqualified"
          targetNamespace="http://com/majescomastek/stgicd/ws/meta/whatifinterface/requestresponse">
            <xs:import
              namespace="http://com/majescomastek/stgicd/ws/meta/whatifinterface"/>
            <xs:complexType name="requestResponse">
                <xs:complexContent>
                    <xs:extension base="ns1:baseWSVo">
                        <xs:sequence>
                            <xs:element
                              maxOccurs="unbounded"
                              minOccurs="0"
                              name="Message"
                              type="tns:message"/>
                            <xs:element
                              minOccurs="0"
                              name="ProcessStatusFlag"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="RequestSeq"
                              type="xs:decimal"/>
                            <xs:element
                              minOccurs="0"
                              name="SourceSystemRequestNo"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="SuccessFlag"
                              type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="message">
                <xs:complexContent>
                    <xs:extension base="ns1:baseWSVo">
                        <xs:sequence>
                            <xs:element
                              minOccurs="0"
                              name="Code"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="Description"
                              type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema
          xmlns:ns1="http://com/majescomastek/stgicd/ws/meta/whatifinterface"
          xmlns:xs="http://www.w3.org/2001/XMLSchema"
          attributeFormDefault="unqualified"
          elementFormDefault="unqualified"
          targetNamespace="http://com/majescomastek/stgicd/ws/meta/whatifinterface/requestheader"
          xmlns="http://com/majescomastek/stgicd/ws/meta/whatifinterface/requestheader">
            <xs:import
              namespace="http://com/majescomastek/stgicd/ws/meta/whatifinterface"/>
            <xs:complexType name="requestHeader">
                <xs:complexContent>
                    <xs:extension base="ns1:baseWSVo">
                        <xs:sequence>
                            <xs:element
                              minOccurs="0"
                              name="SourceSystemRequestNo"
                              type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema
          xmlns:ns1="http://com/majescomastek/stgicd/ws/meta/whatifinterface/whatifinterface"
          xmlns:ns2="http://com/majescomastek/stgicd/ws/meta/authentication"
          xmlns:ns3="http://com/majescomastek/stgicd/ws/meta/whatifinterface/requestheader"
          xmlns:ns4="http://com/majescomastek/stgicd/ws/meta/whatifinterface/transaction"
          xmlns:ns5="http://com/majescomastek/stgicd/ws/meta/whatifinterface/transaction/inboundwhatiftransactiondetail"
          xmlns:ns6="http://com/majescomastek/stgicd/ws/meta/whatifinterface/requestresponse"
          xmlns:ns7="http://com/majescomastek/stgicd/ws/meta/whatifinterface/transactionresponse"
          xmlns:ns8="http://com/majescomastek/stgicd/ws/meta/whatifinterface/transactionresponse/inboundwhatiftransactiondetail"
          xmlns:ns9="http://com/majescomastek/stgicd/ws/meta/whatifinterface/transactionresponse/inboundwhatiftransactiondetail/installmentschedulesummarybyduedate"
          xmlns:tns="http://com/majescomastek/stgicd/ws/meta/whatifinterface"
          xmlns:xs="http://www.w3.org/2001/XMLSchema"
          attributeFormDefault="unqualified"
          elementFormDefault="unqualified"
          targetNamespace="http://com/majescomastek/stgicd/ws/meta/whatifinterface">
            <xs:import
              namespace="http://com/majescomastek/stgicd/ws/meta/whatifinterface/whatifinterface"/>
            <xs:import
              namespace="http://com/majescomastek/stgicd/ws/meta/authentication"/>
            <xs:import
              namespace="http://com/majescomastek/stgicd/ws/meta/whatifinterface/requestheader"/>
            <xs:import
              namespace="http://com/majescomastek/stgicd/ws/meta/whatifinterface/transaction"/>
            <xs:import
              namespace="http://com/majescomastek/stgicd/ws/meta/whatifinterface/transaction/inboundwhatiftransactiondetail"/>
            <xs:import
              namespace="http://com/majescomastek/stgicd/ws/meta/whatifinterface/requestresponse"/>
            <xs:import
              namespace="http://com/majescomastek/stgicd/ws/meta/whatifinterface/transactionresponse"/>
            <xs:import
              namespace="http://com/majescomastek/stgicd/ws/meta/whatifinterface/transactionresponse/inboundwhatiftransactiondetail"/>
            <xs:import
              namespace="http://com/majescomastek/stgicd/ws/meta/whatifinterface/transactionresponse/inboundwhatiftransactiondetail/installmentschedulesummarybyduedate"/>
            <xs:element
              name="Authentication"
              type="ns2:authentication"/>
            <xs:element name="IWAAuthentication">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element
                          name="Domain"
                          type="xs:string"/>
                        <xs:element
                          name="User"
                          type="xs:string"/>
                        <xs:element
                          name="SecretKey"
                          type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element
              name="InboundTransactionDetail"
              type="ns5:inboundTransactionDetail"/>
            <xs:element
              name="InboundWhatIfTransactionDetail"
              nillable="true"
              type="xs:anyType"/>
            <xs:element
              name="InstallmentScheduleSummaryByDueDate"
              type="ns8:installmentScheduleSummaryByDueDate"/>
            <xs:element
              name="InstallmentScheduleSummaryByTransactionReceivable"
              type="ns9:installmentScheduleSummaryByTransactionReceivable"/>
            <xs:element
              name="Message"
              nillable="true"
              type="xs:anyType"/>
            <xs:element
              name="RequestHeader"
              type="ns3:requestHeader"/>
            <xs:element
              name="RequestResponse"
              type="ns6:requestResponse"/>
            <xs:element name="SSOAuth">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element
                          name="Username"
                          type="xs:string"/>
                        <xs:element
                          name="Token"
                          type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ServiceAccountAuthentication">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element
                          name="Token"
                          type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="TokenAuthentication">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element
                          name="Token"
                          type="xs:string"/>
                        <xs:element
                          name="TimeStamp"
                          type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element
              name="Transaction"
              type="ns4:transaction"/>
            <xs:element
              name="TransactionResponse"
              type="ns7:transactionResponse"/>
            <xs:element name="UsernamePasswordAuth">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element
                          name="Username"
                          type="xs:string"/>
                        <xs:element
                          name="Password"
                          type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element
              name="WhatIfTransactionSchedule"
              type="ns1:whatIfTransactionSchedule"/>
            <xs:element
              name="responseTransactionSchedule"
              type="ns1:responseTransactionSchedule"/>
            <xs:element
              name="service"
              type="tns:service"/>
            <xs:element
              name="serviceResponse"
              type="tns:serviceResponse"/>
            <xs:complexType name="service">
                <xs:sequence>
                    <xs:element
                      minOccurs="0"
                      name="inputMsg"
                      type="ns1:whatIfTransactionSchedule"/>
                    <xs:element
                      minOccurs="0"
                      name="UserAuthentication"
                      type="ns2:authentication"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType
              abstract="true"
              name="baseWSVo">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="serviceResponse">
                <xs:sequence>
                    <xs:element
                      minOccurs="0"
                      name="return"
                      type="ns1:responseTransactionSchedule"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element
              name="Exception"
              type="tns:Exception"/>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element
                      minOccurs="0"
                      name="message"
                      type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema
          xmlns:ns1="http://com/majescomastek/stgicd/ws/meta/whatifinterface"
          xmlns:xs="http://www.w3.org/2001/XMLSchema"
          attributeFormDefault="unqualified"
          elementFormDefault="unqualified"
          targetNamespace="http://com/majescomastek/stgicd/ws/meta/authentication"
          xmlns="http://com/majescomastek/stgicd/ws/meta/authentication">
            <xs:import
              namespace="http://com/majescomastek/stgicd/ws/meta/whatifinterface"/>
            <xs:complexType name="authentication">
                <xs:sequence>
                    <xs:element
                      minOccurs="0"
                      name="UsernamePasswordAuth">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element
                                  name="Username"
                                  type="xs:string"/>
                                <xs:element
                                  name="Password"
                                  type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element
                      minOccurs="0"
                      name="SSOAuth">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element
                                  name="Username"
                                  type="xs:string"/>
                                <xs:element
                                  name="Token"
                                  type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element
                      minOccurs="0"
                      name="IWAAuthentication">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element
                                  name="Domain"
                                  type="xs:string"/>
                                <xs:element
                                  name="User"
                                  type="xs:string"/>
                                <xs:element
                                  name="SecretKey"
                                  type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element
                      minOccurs="0"
                      name="TokenAuthentication">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element
                                  name="Token"
                                  type="xs:string"/>
                                <xs:element
                                  name="TimeStamp"
                                  type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element
                      minOccurs="0"
                      name="ServiceAccountAuthentication">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element
                                  name="Token"
                                  type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="service">
        <wsdl:part
          element="tns:service"
          name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="serviceResponse">
        <wsdl:part
          element="tns:serviceResponse"
          name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="Exception">
        <wsdl:part
          element="tns:Exception"
          name="Exception">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="WhatIfInterface">
        <wsdl:operation name="service">
            <wsdl:input
              message="tns:service"
              name="service">
            </wsdl:input>
            <wsdl:output
              message="tns:serviceResponse"
              name="serviceResponse">
            </wsdl:output>
            <wsdl:fault
              message="tns:Exception"
              name="Exception">
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding
      name="WhatIfInterfaceSoapBinding"
      type="tns:WhatIfInterface">
        <soap:binding
          style="document"
          transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="service">
            <soap:operation
              style="document"
              soapAction=""/>
            <wsdl:input name="service">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="serviceResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault
                  name="Exception"
                  use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WhatIfInterface">
        <wsdl:port
          binding="tns:WhatIfInterfaceSoapBinding"
          name="WhatIfInterfacePort">
            <soap:address
              location="http://10.190.123.53:9898/ICDService/services/WhatIfInterface"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
