majesco-efttokengenerationinterface-stubs/src/main/resources/META-INF/wsdl/InBoundInstrumentInformation.wsdl

<?xml version="1.0"?>
<wsdl:definitions
  xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://com/majescomastek/stgicd/ws/meta/inboundinstrumentinformation"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  name="InBoundInstrumentInformation"
  targetNamespace="http://com/majescomastek/stgicd/ws/meta/inboundinstrumentinformation"
>
    <wsdl:types>
        <xs:schema
          xmlns:ns1="http://com/majescomastek/stgicd/ws/meta/inboundinstrumentinformation"
          xmlns:tns="http://com/majescomastek/stgicd/ws/meta/inboundinstrumentinformation/requestresponse"
          xmlns:xs="http://www.w3.org/2001/XMLSchema"
          attributeFormDefault="unqualified"
          elementFormDefault="unqualified"
          targetNamespace="http://com/majescomastek/stgicd/ws/meta/inboundinstrumentinformation/requestresponse">
            <xs:import
              namespace="http://com/majescomastek/stgicd/ws/meta/inboundinstrumentinformation"/>
            <xs:complexType name="requestResponse">
                <xs:complexContent>
                    <xs:extension base="ns1:baseWSVo">
                        <xs:sequence>
                            <xs:element
                              maxOccurs="unbounded"
                              minOccurs="0"
                              name="Message"
                              type="tns:message"/>
                            <xs:element
                              name="ProcessStatusFlag"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="SourceSystemRequestNo"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="SuccessFlag"
                              type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="message">
                <xs:complexContent>
                    <xs:extension base="ns1:baseWSVo">
                        <xs:sequence>
                            <xs:element
                              minOccurs="0"
                              name="Code"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="Description"
                              type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema
          xmlns:ns1="http://com/majescomastek/stgicd/ws/meta/inboundinstrumentinformation"
          xmlns:xs="http://www.w3.org/2001/XMLSchema"
          attributeFormDefault="unqualified"
          elementFormDefault="unqualified"
          targetNamespace="http://com/majescomastek/stgicd/ws/meta/inboundinstrumentinformation/requestheader"
          xmlns="http://com/majescomastek/stgicd/ws/meta/inboundinstrumentinformation/requestheader">
            <xs:import
              namespace="http://com/majescomastek/stgicd/ws/meta/inboundinstrumentinformation"/>
            <xs:complexType name="requestHeader">
                <xs:complexContent>
                    <xs:extension base="ns1:baseWSVo">
                        <xs:sequence>
                            <xs:element
                              minOccurs="0"
                              name="Address1"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="Address2"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="City"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="ContextId"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="ContextType"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="Country"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="County"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="EmailID"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="InstrumentBankName"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="InstrumentExpiryMonth"
                              type="xs:decimal"/>
                            <xs:element
                              minOccurs="0"
                              name="InstrumentExpiryYear"
                              type="xs:decimal"/>
                            <xs:element
                              minOccurs="0"
                              name="InstrumentHolderName"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="InstrumentNo"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="InstrumentSecurityCode"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="InstrumentSubType"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="InstrumentTitle"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="InstrumentType"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="PhoneNo"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="Remarks"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="SourceSystemRequestNo"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="State"
                              type="xs:string"/>
                            <xs:element
                              minOccurs="0"
                              name="ZipCode"
                              type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema
          xmlns:ns1="http://com/majescomastek/stgicd/ws/meta/inboundinstrumentinformation"
          xmlns:xs="http://www.w3.org/2001/XMLSchema"
          attributeFormDefault="unqualified"
          elementFormDefault="unqualified"
          targetNamespace="http://com/majescomastek/stgicd/ws/meta/inboundinstrumentinformation/paymentinstrumentinforesponse"
          xmlns="http://com/majescomastek/stgicd/ws/meta/inboundinstrumentinformation/paymentinstrumentinforesponse">
            <xs:import
              namespace="http://com/majescomastek/stgicd/ws/meta/inboundinstrumentinformation"/>
            <xs:complexType name="paymentInstrumentInfoResponse">
                <xs:complexContent>
                    <xs:extension base="ns1:baseWSVo">
                        <xs:sequence>
                            <xs:element
                              minOccurs="0"
                              name="TokenId"
                              type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema
          xmlns:ns1="http://com/majescomastek/stgicd/ws/meta/inboundinstrumentinformation"
          xmlns:ns2="http://com/majescomastek/stgicd/ws/meta/inboundinstrumentinformation/requestheader"
          xmlns:ns3="http://com/majescomastek/stgicd/ws/meta/inboundinstrumentinformation/paymentinstrumentinforesponse"
          xmlns:ns4="http://com/majescomastek/stgicd/ws/meta/inboundinstrumentinformation/requestresponse"
          xmlns:xs="http://www.w3.org/2001/XMLSchema"
          attributeFormDefault="unqualified"
          elementFormDefault="unqualified"
          targetNamespace="http://com/majescomastek/stgicd/ws/meta/inboundinstrumentinformation/inboundinstrumentinformation"
          xmlns="http://com/majescomastek/stgicd/ws/meta/inboundinstrumentinformation/inboundinstrumentinformation">
            <xs:import
              namespace="http://com/majescomastek/stgicd/ws/meta/inboundinstrumentinformation"/>
            <xs:import
              namespace="http://com/majescomastek/stgicd/ws/meta/inboundinstrumentinformation/requestheader"/>
            <xs:import
              namespace="http://com/majescomastek/stgicd/ws/meta/inboundinstrumentinformation/paymentinstrumentinforesponse"/>
            <xs:import
              namespace="http://com/majescomastek/stgicd/ws/meta/inboundinstrumentinformation/requestresponse"/>
            <xs:complexType name="inboundInstrumentsDetail">
                <xs:complexContent>
                    <xs:extension base="ns1:baseWSVo">
                        <xs:sequence>
                            <xs:element
                              name="RequestHeader"
                              type="ns2:requestHeader"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="instrumentDetailResponse">
                <xs:complexContent>
                    <xs:extension base="ns1:baseWSVo">
                        <xs:sequence>
                            <xs:element
                              minOccurs="0"
                              name="PaymentInstrumentInfoResponse"
                              type="ns3:paymentInstrumentInfoResponse"/>
                            <xs:element
                              minOccurs="0"
                              name="RequestResponse"
                              type="ns4:requestResponse"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema
          xmlns:ns1="http://com/majescomastek/stgicd/ws/meta/inboundinstrumentinformation/inboundinstrumentinformation"
          xmlns:ns2="http://com/majescomastek/stgicd/ws/meta/authentication"
          xmlns:ns3="http://com/majescomastek/stgicd/ws/meta/inboundinstrumentinformation/requestheader"
          xmlns:ns4="http://com/majescomastek/stgicd/ws/meta/inboundinstrumentinformation/paymentinstrumentinforesponse"
          xmlns:ns5="http://com/majescomastek/stgicd/ws/meta/inboundinstrumentinformation/requestresponse"
          xmlns:tns="http://com/majescomastek/stgicd/ws/meta/inboundinstrumentinformation"
          xmlns:xs="http://www.w3.org/2001/XMLSchema"
          attributeFormDefault="unqualified"
          elementFormDefault="unqualified"
          targetNamespace="http://com/majescomastek/stgicd/ws/meta/inboundinstrumentinformation">
            <xs:import
              namespace="http://com/majescomastek/stgicd/ws/meta/inboundinstrumentinformation/inboundinstrumentinformation"/>
            <xs:import
              namespace="http://com/majescomastek/stgicd/ws/meta/authentication"/>
            <xs:import
              namespace="http://com/majescomastek/stgicd/ws/meta/inboundinstrumentinformation/requestheader"/>
            <xs:import
              namespace="http://com/majescomastek/stgicd/ws/meta/inboundinstrumentinformation/paymentinstrumentinforesponse"/>
            <xs:import
              namespace="http://com/majescomastek/stgicd/ws/meta/inboundinstrumentinformation/requestresponse"/>
            <xs:element
              name="Authentication"
              type="ns2:authentication"/>
            <xs:element name="IWAAuthentication">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element
                          name="Domain"
                          type="xs:string"/>
                        <xs:element
                          name="User"
                          type="xs:string"/>
                        <xs:element
                          name="SecretKey"
                          type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element
              name="InboundInstrumentsDetail"
              type="ns1:inboundInstrumentsDetail"/>
            <xs:element
              name="InstrumentDetailResponse"
              type="ns1:instrumentDetailResponse"/>
            <xs:element
              name="Message"
              type="ns5:message"/>
            <xs:element
              name="PaymentInstrumentInfoResponse"
              type="ns4:paymentInstrumentInfoResponse"/>
            <xs:element
              name="RequestHeader"
              type="ns3:requestHeader"/>
            <xs:element
              name="RequestResponse"
              type="ns5:requestResponse"/>
            <xs:element name="SSOAuth">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element
                          name="Username"
                          type="xs:string"/>
                        <xs:element
                          name="Token"
                          type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ServiceAccountAuthentication">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element
                          name="Token"
                          type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="TokenAuthentication">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element
                          name="Token"
                          type="xs:string"/>
                        <xs:element
                          name="TimeStamp"
                          type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="UsernamePasswordAuth">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element
                          name="Username"
                          type="xs:string"/>
                        <xs:element
                          name="Password"
                          type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element
              name="service"
              type="tns:service"/>
            <xs:element
              name="serviceResponse"
              type="tns:serviceResponse"/>
            <xs:complexType name="service">
                <xs:sequence>
                    <xs:element
                      minOccurs="0"
                      name="inputMsg"
                      type="ns1:inboundInstrumentsDetail"/>
                    <xs:element
                      minOccurs="0"
                      name="UserAuthentication"
                      type="ns2:authentication"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType
              abstract="true"
              name="baseWSVo">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="serviceResponse">
                <xs:sequence>
                    <xs:element
                      minOccurs="0"
                      name="return"
                      type="ns1:instrumentDetailResponse"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element
              name="Exception"
              type="tns:Exception"/>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element
                      minOccurs="0"
                      name="message"
                      type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema
          xmlns:ns1="http://com/majescomastek/stgicd/ws/meta/inboundinstrumentinformation"
          xmlns:xs="http://www.w3.org/2001/XMLSchema"
          attributeFormDefault="unqualified"
          elementFormDefault="unqualified"
          targetNamespace="http://com/majescomastek/stgicd/ws/meta/authentication"
          xmlns="http://com/majescomastek/stgicd/ws/meta/authentication">
            <xs:import
              namespace="http://com/majescomastek/stgicd/ws/meta/inboundinstrumentinformation"/>
            <xs:complexType name="authentication">
                <xs:sequence>
                    <xs:element
                      minOccurs="0"
                      name="UsernamePasswordAuth">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element
                                  name="Username"
                                  type="xs:string"/>
                                <xs:element
                                  name="Password"
                                  type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element
                      minOccurs="0"
                      name="SSOAuth">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element
                                  name="Username"
                                  type="xs:string"/>
                                <xs:element
                                  name="Token"
                                  type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element
                      minOccurs="0"
                      name="IWAAuthentication">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element
                                  name="Domain"
                                  type="xs:string"/>
                                <xs:element
                                  name="User"
                                  type="xs:string"/>
                                <xs:element
                                  name="SecretKey"
                                  type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element
                      minOccurs="0"
                      name="TokenAuthentication">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element
                                  name="Token"
                                  type="xs:string"/>
                                <xs:element
                                  name="TimeStamp"
                                  type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element
                      minOccurs="0"
                      name="ServiceAccountAuthentication">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element
                                  name="Token"
                                  type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="serviceResponse">
        <wsdl:part
          element="tns:serviceResponse"
          name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="service">
        <wsdl:part
          element="tns:service"
          name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="Exception">
        <wsdl:part
          element="tns:Exception"
          name="Exception">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="InBoundInstrumentInformation">
        <wsdl:operation name="service">
            <wsdl:input
              message="tns:service"
              name="service">
            </wsdl:input>
            <wsdl:output
              message="tns:serviceResponse"
              name="serviceResponse">
            </wsdl:output>
            <wsdl:fault
              message="tns:Exception"
              name="Exception">
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding
      name="InBoundInstrumentInformationSoapBinding"
      type="tns:InBoundInstrumentInformation">
        <soap:binding
          style="document"
          transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="service">
            <soap:operation
              style="document"
              soapAction=""/>
            <wsdl:input name="service">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="serviceResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault
                  name="Exception"
                  use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="InBoundInstrumentInformation">
        <wsdl:port
          binding="tns:InBoundInstrumentInformationSoapBinding"
          name="InBoundInstrumentInformationPort">
            <soap:address
              location="http://10.190.123.53:9696/EFTICDService/services/InBoundInstrumentInformation"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
