nd-billing-jaxws-service-account-search-stubs/src/main/resources/META-INF/wsdl/IAccountSearchInterface.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. -->
<definitions xmlns:tns="http://com/nd/ws/billing/account/searchinterface"
  targetNamespace="http://com/nd/ws/billing/account/searchinterface"
  xmlns="http://schemas.xmlsoap.org/wsdl/">
    <types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com/nd/billing/model/account/response"
          version="1.0">

            <xs:import namespace="http://com/nd/ws/billing/account/searchinterface"/>

            <xs:complexType name="message">
                <xs:complexContent>
                    <xs:extension base="tns:baseWSVo">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="Code" type="xs:string"/>
                            <xs:element minOccurs="0" name="Description" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ns1="http://com/nd/billing/model/account/response" xmlns:xs="http://www.w3.org/2001/XMLSchema"
          targetNamespace="http://com/nd/ws/billing/account/searchinterface"
          version="1.0">

            <xs:import namespace="http://com/nd/billing/model/account/response"/>

            <xs:element name="Exception" nillable="true" type="tns:Exception"/>

            <xs:element name="accountWorkflowRequest" type="tns:accountWorkflowRequest"/>

            <xs:element name="accountWorkflowResponse" type="tns:accountWorkflowResponse"/>

            <xs:element name="executeAccountSearch" type="tns:executeAccountSearch"/>

            <xs:element name="executeAccountSearchResponse"
              type="tns:executeAccountSearchResponse"/>

            <xs:complexType name="executeAccountSearch">
                <xs:sequence>
                    <xs:element minOccurs="0" name="AccountWorkflowRequest"
                      type="tns:accountWorkflowRequest"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="accountWorkflowRequest">
                <xs:complexContent>
                    <xs:extension base="tns:baseWSVo">
                        <xs:sequence>
                            <xs:element name="Authentication" type="tns:authentication"/>
                            <xs:element name="RequestHeader" type="tns:requestHeader"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>

            <xs:complexType abstract="true" name="baseWSVo">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="authentication">
                <xs:sequence>
                    <xs:element minOccurs="0" name="UsernamePasswordAuth">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Username" type="xs:string"/>
                                <xs:element name="Password" type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="requestHeader">
                <xs:complexContent>
                    <xs:extension base="tns:baseWSVo">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="Entity" type="tns:entity"/>
                            <xs:element name="RequestDate" type="xs:date"/>
                            <xs:element minOccurs="0" name="RequestSearchDetails"
                              type="tns:requestSearchDetails"/>
                            <xs:element name="SourceSystemRequestNo" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>

            <xs:complexType name="entity">
                <xs:complexContent>
                    <xs:extension base="tns:baseWSVo">
                        <xs:sequence>
                            <xs:element name="BillTo" type="xs:string"/>
                            <xs:element name="BillType" type="xs:string"/>
                            <xs:element minOccurs="0" name="DoingBusinessAsName" nillable="true"
                              type="xs:string"/>
                            <xs:element maxOccurs="unbounded" name="EntityAddressList"
                              type="tns:entityAddress"/>
                            <xs:element name="EntityType" type="xs:string"/>
                            <xs:element minOccurs="0" name="InstrumentDetail"
                              type="tns:instrumentDetail"/>
                            <xs:element name="InvoicingCurrency" type="xs:string"/>
                            <xs:element name="PaymentMethod" type="xs:string"/>
                            <xs:element maxOccurs="unbounded" name="PolicyList" type="tns:policy"/>
                            <xs:element minOccurs="0" name="RecurringEftTokenId" nillable="true"
                              type="xs:string"/>
                            <xs:element minOccurs="0" name="RequestedDueDay" nillable="true"
                              type="xs:long"/>
                            <xs:element name="SourceSystem" type="xs:string"/>
                            <xs:element minOccurs="0" name="SourceSystemEntityCode"
                              nillable="true"
                              type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>

            <xs:complexType name="entityAddress">
                <xs:complexContent>
                    <xs:extension base="tns:baseWSVo">
                        <xs:sequence>
                            <xs:element name="Address1" type="xs:string"/>
                            <xs:element minOccurs="0" name="Address2" type="xs:string"/>
                            <xs:element name="AddressType" type="xs:string"/>
                            <xs:element minOccurs="0" name="AlternateEmailId" type="xs:string"/>
                            <xs:element minOccurs="0" name="AlternateFaxNo" type="xs:string"/>
                            <xs:element minOccurs="0" name="AlternatePhoneNo" type="xs:string"/>
                            <xs:element name="City" type="xs:string"/>
                            <xs:element name="Country" type="xs:string"/>
                            <xs:element name="County" type="xs:string"/>
                            <xs:element minOccurs="0" name="FirstName" type="xs:string"/>
                            <xs:element name="FullName" type="xs:string"/>
                            <xs:element minOccurs="0" name="LastName" type="xs:string"/>
                            <xs:element minOccurs="0" name="MiddleName" type="xs:string"/>
                            <xs:element minOccurs="0" name="NamePrefix" type="xs:string"/>
                            <xs:element minOccurs="0" name="NameSuffix" type="xs:string"/>
                            <xs:element name="PrimaryAddressYN" type="xs:string"/>
                            <xs:element minOccurs="0" name="PrimaryEmailId" type="xs:string"/>
                            <xs:element minOccurs="0" name="PrimaryFaxNo" type="xs:string"/>
                            <xs:element minOccurs="0" name="PrimaryPhoneNo" type="xs:string"/>
                            <xs:element name="State" type="xs:string"/>
                            <xs:element name="ZipCode" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>

            <xs:complexType name="accountWorkflowResponse">
                <xs:complexContent>
                    <xs:extension base="tns:baseWSVo">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="RequestResponse"
                              type="tns:requestResponse"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>

            <xs:complexType name="requestResponse">
                <xs:complexContent>
                    <xs:extension base="tns:baseWSVo">
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="EntityList"
                              type="tns:entity"/>
                            <xs:element minOccurs="0" name="ProcessStatusFlag" type="xs:string"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="MessageList"
                              type="ns1:message"/>
                            <xs:element minOccurs="0" name="RequestDate" type="xs:date"/>
                            <xs:element minOccurs="0" name="SourceSystemRequestNo"
                              type="xs:string"/>
                            <xs:element minOccurs="0" name="SuccessFlag" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>

            <xs:complexType name="instrumentDetail">
                <xs:complexContent>
                    <xs:extension base="tns:baseWSVo">
                        <xs:sequence>
                            <xs:element name="Address1" type="xs:string"/>
                            <xs:element minOccurs="0" name="Address2" type="xs:string"/>
                            <xs:element name="City" type="xs:string"/>
                            <xs:element minOccurs="0" name="ContextId" type="xs:string"/>
                            <xs:element name="ContextType" type="xs:string"/>
                            <xs:element name="Country" type="xs:string"/>
                            <xs:element name="County" type="xs:string"/>
                            <xs:element minOccurs="0" name="EftWithdrawalDay" type="xs:long"/>
                            <xs:element minOccurs="0" name="EmailID" nillable="true"
                              type="xs:string"/>
                            <xs:element name="InstrumentBankName" type="xs:string"/>
                            <xs:element minOccurs="0" name="InstrumentExpiryMonth" type="xs:long"/>
                            <xs:element minOccurs="0" name="InstrumentExpiryYear" type="xs:long"/>
                            <xs:element name="InstrumentHolderName" type="xs:string"/>
                            <xs:element name="InstrumentNo" type="xs:string"/>
                            <xs:element name="InstrumentSecurityCode" type="xs:string"/>
                            <xs:element name="InstrumentSubType" type="xs:string"/>
                            <xs:element name="InstrumentTitle" type="xs:string"/>
                            <xs:element name="InstrumentType" type="xs:string"/>
                            <xs:element minOccurs="0" name="PhoneNo" type="xs:string"/>
                            <xs:element name="State" type="xs:string"/>
                            <xs:element name="ZipCode" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>

            <xs:complexType name="policy">
                <xs:complexContent>
                    <xs:extension base="tns:baseWSVo">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="AccountNo" type="xs:string"/>
                            <xs:element minOccurs="0" name="BillTo" type="xs:string"/>
                            <xs:element minOccurs="0" name="BillType" type="xs:string"/>
                            <xs:element minOccurs="0" name="BrokerNo" type="xs:string"/>
                            <xs:element name="Country" type="xs:string"/>
                            <xs:element minOccurs="0" name="GroupNo" type="xs:string"/>
                            <xs:element name="InvoicingCurrency" type="xs:string"/>
                            <xs:element minOccurs="0" name="LineOfBusiness" type="xs:string"/>
                            <xs:element minOccurs="0" name="NonRenewalFlag" type="xs:string"/>
                            <xs:element minOccurs="0" name="NonCancellableFlag" type="xs:string"/>
                            <xs:element minOccurs="0" name="OperatingCompany" type="xs:string"/>
                            <xs:element minOccurs="0" name="OperatingRegion" type="xs:string"/>
                            <xs:element minOccurs="0" name="PaymentMethod" type="xs:string"/>
                            <xs:element minOccurs="0" name="PaymentPlan" type="xs:string"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0"
                              name="PolicyEntityList"
                              nillable="true" type="tns:policyEntity"/>
                            <xs:element name="PolicyEffectiveDate" type="xs:date"/>
                            <xs:element minOccurs="0" name="PolicyInceptionDate" nillable="true"
                              type="xs:date"/>
                            <xs:element name="PolicyNo" type="xs:string"/>
                            <xs:element minOccurs="0" name="PreviousPolicyEffDate" nillable="true"
                              type="xs:date"/>
                            <xs:element minOccurs="0" name="PreviousPolicyNo" type="xs:string"/>
                            <xs:element minOccurs="0" name="ProductCode" type="xs:string"/>
                            <xs:element minOccurs="0" name="ProgramType" type="xs:string"/>
                            <xs:element minOccurs="0" name="RecurringEftTokenId" nillable="true"
                              type="xs:string"/>
                            <xs:element minOccurs="0" name="RenewalCounter" type="xs:long"/>
                            <xs:element minOccurs="0" name="RequestedDueDay" nillable="true"
                              type="xs:long"/>
                            <xs:element minOccurs="0" name="SDIPRatingPlan" type="xs:string"/>
                            <xs:element minOccurs="0" name="SiuFlag" type="xs:string"/>
                            <xs:element name="SourceSystem" type="xs:string"/>
                            <xs:element minOccurs="0" name="StateCode" type="xs:string"/>
                            <xs:element minOccurs="0" name="SubbrokerNo" type="xs:string"/>
                            <xs:element minOccurs="0" name="SublineOfBusiness" type="xs:string"/>
                            <xs:element minOccurs="0" name="UnderwritingCompany" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>

            <xs:complexType name="policyEntity">
                <xs:complexContent>
                    <xs:extension base="tns:baseWSVo">
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0"
                              name="EntityAddressList"
                              type="tns:entityAddress"/>
                            <xs:element minOccurs="0" name="DoingBusinessAsName" type="xs:string"/>
                            <xs:element minOccurs="0" name="EntityType" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>

            <xs:complexType name="requestSearchDetails">
                <xs:complexContent>
                    <xs:extension base="tns:baseWSVo">
                        <xs:sequence>
                            <xs:element name="FullName" nillable="true" type="xs:string"/>
                            <xs:element name="PolicyNo" nillable="true" type="xs:string"/>
                            <xs:element name="SourceSystemEntityCode" nillable="true"
                              type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>

            <xs:complexType name="executeAccountSearchResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:accountWorkflowResponse"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </types>
    <message name="executeAccountSearch">
        <part element="tns:executeAccountSearch" name="parameters"/>
    </message>
    <message name="executeAccountSearchResponse">
        <part element="tns:executeAccountSearchResponse" name="parameters"/>
    </message>
    <message name="Exception_Exception">
        <part element="tns:Exception" name="fault"/>
    </message>
    <portType name="IAccountSearchInterface">
        <operation name="executeAccountSearch">
            <input
              xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"
              message="tns:executeAccountSearch"
              ns2:Action="http://com/nd/ws/billing/account/searchinterface/IAccountSearchInterface/executeAccountSearchRequest"/>
            <output
              xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"
              message="tns:executeAccountSearchResponse"
              ns3:Action="http://com/nd/ws/billing/account/searchinterface/IAccountSearchInterface/executeAccountSearchResponse"/>
            <fault xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" message="tns:Exception_Exception"
              name="Exception_Exception"
              ns4:Action="http://com/nd/ws/billing/account/searchinterface/IAccountSearchInterface/executeAccountSearch/Fault/Exception_Exception"/>
        </operation>
    </portType>
</definitions>

