nd-billing-jaxws-service-account-create-stubs/src/main/resources/META-INF/wsdl/IAccountCreateInterface.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. -->
<definitions targetNamespace="http://com/nd/ws/billing/account/createinterface"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:tns="http://com/nd/ws/billing/account/createinterface">
    <types>
        <xs:schema version="1.0" targetNamespace="http://com/nd/ws/billing/account/createinterface"
          xmlns:xs="http://www.w3.org/2001/XMLSchema"
          xmlns:ns1="http://com/nd/billing/model/account/response">

            <xs:import namespace="http://com/nd/billing/model/account/response"/>

            <xs:element name="accountWorkflowRequest" type="tns:accountWorkflowRequest"/>

            <xs:element name="accountWorkflowResponse" type="tns:accountWorkflowResponse"/>

            <xs:element name="executeAccountCreate" type="tns:executeAccountCreate"/>

            <xs:element name="executeAccountCreateResponse"
              type="tns:executeAccountCreateResponse"/>

            <xs:complexType name="executeAccountCreate">
                <xs:sequence>
                    <xs:element name="AccountWorkflowRequest" type="tns:accountWorkflowRequest"
                      minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="accountWorkflowRequest">
                <xs:complexContent>
                    <xs:extension base="tns:baseWSVo">
                        <xs:sequence>
                            <xs:element name="Authentication" type="tns:authentication"/>
                            <xs:element name="RequestHeader" type="tns:requestHeader"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>

            <xs:complexType name="baseWSVo" abstract="true">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="authentication">
                <xs:sequence>
                    <xs:element name="UsernamePasswordAuth" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Username" type="xs:string"/>
                                <xs:element name="Password" type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="requestHeader">
                <xs:complexContent>
                    <xs:extension base="tns:baseWSVo">
                        <xs:sequence>
                            <xs:element name="Entity" type="tns:entity" minOccurs="0"/>
                            <xs:element name="RequestDate" type="xs:date"/>
                            <xs:element name="RequestSearchDetails" type="tns:requestSearchDetails"
                              minOccurs="0"/>
                            <xs:element name="SourceSystemRequestNo" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>

            <xs:complexType name="entity">
                <xs:complexContent>
                    <xs:extension base="tns:baseWSVo">
                        <xs:sequence>
                            <xs:element name="BillTo" type="xs:string"/>
                            <xs:element name="BillType" type="xs:string"/>
                            <xs:element name="DoingBusinessAsName" type="xs:string" nillable="true"
                              minOccurs="0"/>
                            <xs:element name="EntityAddressList" type="tns:entityAddress"
                              maxOccurs="unbounded"/>
                            <xs:element name="EntityType" type="xs:string"/>
                            <xs:element name="InstrumentDetail" type="tns:instrumentDetail"
                              minOccurs="0"/>
                            <xs:element name="InvoicingCurrency" type="xs:string"/>
                            <xs:element name="PaymentMethod" type="xs:string"/>
                            <xs:element name="PolicyList" type="tns:policy" maxOccurs="unbounded"/>
                            <xs:element name="RecurringEftTokenId" type="xs:string" nillable="true"
                              minOccurs="0"/>
                            <xs:element name="RequestedDueDay" type="xs:long" nillable="true"
                              minOccurs="0"/>
                            <xs:element name="SourceSystem" type="xs:string"/>
                            <xs:element name="SourceSystemEntityCode" type="xs:string"
                              nillable="true" minOccurs="0"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>

            <xs:complexType name="entityAddress">
                <xs:complexContent>
                    <xs:extension base="tns:baseWSVo">
                        <xs:sequence>
                            <xs:element name="Address1" type="xs:string"/>
                            <xs:element name="Address2" type="xs:string" minOccurs="0"/>
                            <xs:element name="AddressType" type="xs:string"/>
                            <xs:element name="AlternateEmailId" type="xs:string" minOccurs="0"/>
                            <xs:element name="AlternateFaxNo" type="xs:string" minOccurs="0"/>
                            <xs:element name="AlternatePhoneNo" type="xs:string" minOccurs="0"/>
                            <xs:element name="City" type="xs:string"/>
                            <xs:element name="Country" type="xs:string"/>
                            <xs:element name="County" type="xs:string"/>
                            <xs:element name="FirstName" type="xs:string" minOccurs="0"/>
                            <xs:element name="FullName" type="xs:string"/>
                            <xs:element name="LastName" type="xs:string" minOccurs="0"/>
                            <xs:element name="MiddleName" type="xs:string" minOccurs="0"/>
                            <xs:element name="NamePrefix" type="xs:string" minOccurs="0"/>
                            <xs:element name="NameSuffix" type="xs:string" minOccurs="0"/>
                            <xs:element name="PrimaryAddressYN" type="xs:string"/>
                            <xs:element name="PrimaryEmailId" type="xs:string" minOccurs="0"/>
                            <xs:element name="PrimaryFaxNo" type="xs:string" minOccurs="0"/>
                            <xs:element name="PrimaryPhoneNo" type="xs:string" minOccurs="0"/>
                            <xs:element name="State" type="xs:string"/>
                            <xs:element name="ZipCode" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>

            <xs:complexType name="accountWorkflowResponse">
                <xs:complexContent>
                    <xs:extension base="tns:baseWSVo">
                        <xs:sequence>
                            <xs:element name="RequestResponse" type="tns:requestResponse"
                              minOccurs="0"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>

            <xs:complexType name="requestResponse">
                <xs:complexContent>
                    <xs:extension base="tns:baseWSVo">
                        <xs:sequence>
                            <xs:element name="EntityList" type="tns:entity" minOccurs="0"
                              maxOccurs="unbounded"/>
                            <xs:element name="ProcessStatusFlag" type="xs:string" minOccurs="0"/>
                            <xs:element name="MessageList" type="ns1:message" minOccurs="0"
                              maxOccurs="unbounded"/>
                            <xs:element name="RequestDate" type="xs:date" minOccurs="0"/>
                            <xs:element name="SourceSystemRequestNo" type="xs:string"
                              minOccurs="0"/>
                            <xs:element name="SuccessFlag" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>

            <xs:complexType name="instrumentDetail">
                <xs:complexContent>
                    <xs:extension base="tns:baseWSVo">
                        <xs:sequence>
                            <xs:element name="Address1" type="xs:string"/>
                            <xs:element name="Address2" type="xs:string" minOccurs="0"/>
                            <xs:element name="City" type="xs:string"/>
                            <xs:element name="ContextId" type="xs:string" minOccurs="0"/>
                            <xs:element name="ContextType" type="xs:string"/>
                            <xs:element name="Country" type="xs:string"/>
                            <xs:element name="County" type="xs:string"/>
                            <xs:element name="EftWithdrawalDay" type="xs:long" minOccurs="0"/>
                            <xs:element name="EmailID" type="xs:string" nillable="true"
                              minOccurs="0"/>
                            <xs:element name="InstrumentBankName" type="xs:string"/>
                            <xs:element name="InstrumentExpiryMonth" type="xs:long" minOccurs="0"/>
                            <xs:element name="InstrumentExpiryYear" type="xs:long" minOccurs="0"/>
                            <xs:element name="InstrumentHolderName" type="xs:string"/>
                            <xs:element name="InstrumentNo" type="xs:string"/>
                            <xs:element name="InstrumentSecurityCode" type="xs:string"/>
                            <xs:element name="InstrumentSubType" type="xs:string"/>
                            <xs:element name="InstrumentTitle" type="xs:string"/>
                            <xs:element name="InstrumentType" type="xs:string"/>
                            <xs:element name="PhoneNo" type="xs:string" minOccurs="0"/>
                            <xs:element name="State" type="xs:string"/>
                            <xs:element name="ZipCode" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>

            <xs:complexType name="policy">
                <xs:complexContent>
                    <xs:extension base="tns:baseWSVo">
                        <xs:sequence>
                            <xs:element name="AccountNo" type="xs:string" minOccurs="0"/>
                            <xs:element name="BillTo" type="xs:string" minOccurs="0"/>
                            <xs:element name="BillType" type="xs:string" minOccurs="0"/>
                            <xs:element name="BrokerNo" type="xs:string" minOccurs="0"/>
                            <xs:element name="Country" type="xs:string"/>
                            <xs:element name="GroupNo" type="xs:string" minOccurs="0"/>
                            <xs:element name="InvoicingCurrency" type="xs:string"/>
                            <xs:element name="LineOfBusiness" type="xs:string" minOccurs="0"/>
                            <xs:element name="NonRenewalFlag" type="xs:string" minOccurs="0"/>
                            <xs:element name="NonCancellableFlag" type="xs:string" minOccurs="0"/>
                            <xs:element name="OperatingCompany" type="xs:string" minOccurs="0"/>
                            <xs:element name="OperatingRegion" type="xs:string" minOccurs="0"/>
                            <xs:element name="PaymentMethod" type="xs:string" minOccurs="0"/>
                            <xs:element name="PaymentPlan" type="xs:string" minOccurs="0"/>
                            <xs:element name="PolicyEntityList" type="tns:policyEntity"
                              nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="PolicyEffectiveDate" type="xs:date"/>
                            <xs:element name="PolicyInceptionDate" type="xs:date" nillable="true"
                              minOccurs="0"/>
                            <xs:element name="PolicyNo" type="xs:string"/>
                            <xs:element name="PreviousPolicyEffDate" type="xs:date" nillable="true"
                              minOccurs="0"/>
                            <xs:element name="PreviousPolicyNo" type="xs:string" minOccurs="0"/>
                            <xs:element name="ProductCode" type="xs:string" minOccurs="0"/>
                            <xs:element name="ProgramType" type="xs:string" minOccurs="0"/>
                            <xs:element name="RecurringEftTokenId" type="xs:string" nillable="true"
                              minOccurs="0"/>
                            <xs:element name="RenewalCounter" type="xs:long" minOccurs="0"/>
                            <xs:element name="RequestedDueDay" type="xs:long" nillable="true"
                              minOccurs="0"/>
                            <xs:element name="SDIPRatingPlan" type="xs:string" minOccurs="0"/>
                            <xs:element name="SiuFlag" type="xs:string" minOccurs="0"/>
                            <xs:element name="SourceSystem" type="xs:string"/>
                            <xs:element name="StateCode" type="xs:string" minOccurs="0"/>
                            <xs:element name="SubbrokerNo" type="xs:string" minOccurs="0"/>
                            <xs:element name="SublineOfBusiness" type="xs:string" minOccurs="0"/>
                            <xs:element name="UnderwritingCompany" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>

            <xs:complexType name="policyEntity">
                <xs:complexContent>
                    <xs:extension base="tns:baseWSVo">
                        <xs:sequence>
                            <xs:element name="EntityAddressList" type="tns:entityAddress"
                              minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="DoingBusinessAsName" type="xs:string" minOccurs="0"/>
                            <xs:element name="EntityType" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>

            <xs:complexType name="requestSearchDetails">
                <xs:complexContent>
                    <xs:extension base="tns:baseWSVo">
                        <xs:sequence>
                            <xs:element name="FullName" type="xs:string" nillable="true"/>
                            <xs:element name="PolicyNo" type="xs:string" nillable="true"/>
                            <xs:element name="SourceSystemEntityCode" type="xs:string"
                              nillable="true"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>

            <xs:complexType name="executeAccountCreateResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:accountWorkflowResponse" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema version="1.0" targetNamespace="http://com/nd/billing/model/account/response"
          xmlns:xs="http://www.w3.org/2001/XMLSchema">

            <xs:import namespace="http://com/nd/ws/billing/account/createinterface"/>

            <xs:complexType name="message">
                <xs:complexContent>
                    <xs:extension base="tns:baseWSVo">
                        <xs:sequence>
                            <xs:element name="Code" type="xs:string" minOccurs="0"/>
                            <xs:element name="Description" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
    </types>
    <message name="executeAccountCreate">
        <part name="parameters" element="tns:executeAccountCreate"/>
    </message>
    <message name="executeAccountCreateResponse">
        <part name="parameters" element="tns:executeAccountCreateResponse"/>
    </message>
    <portType name="IAccountCreateInterface">
        <operation name="executeAccountCreate">
            <input
              ns2:Action="http://com/nd/ws/billing/account/createinterface/IAccountCreateInterface/executeAccountCreateRequest"
              message="tns:executeAccountCreate"
              xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
            <output
              ns3:Action="http://com/nd/ws/billing/account/createinterface/IAccountCreateInterface/executeAccountCreateResponse"
              message="tns:executeAccountCreateResponse"
              xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
        </operation>
    </portType>
</definitions>

